.box-section {
  border: 1px solid gray;
  /* 박스를 칠 때 필요한 테두리 */
  padding: 8px;
  /* 내부 여백 */
  margin: 5px 0;
  /* 위아래 외부 여백 */
  width: 90%;
  /* height: 100px; */

  text-align: center;
}

.secDice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secDice>div {
  margin: 5px;
}

button {
  margin: 5px;
}